<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- Instagram -->
            <i class="fa-brands fa-instagram"></i>

            <!-- Facebook -->
            <i class="fa-brands fa-square-facebook"></i>

            <!-- Youtube -->
            <i class="fa-brands fa-youtube"></i>
            <div class="f-info-brand">&copy;Travel Archive</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>

