<% layout('/layout/boilerplate') %>
    <br><br>
    <form method="POST" action="/listings">
        <div class="row">
            <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <br>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" class="form-control" placeholder="Enter your place name" type="text" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" placeholder="Enter your place details" rows="4" cols="25" required></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" type="text" class="form-control" placeholder="Enter your image link">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Enter Price</label>
                <input name="listing[price]" type="number" class="form-control" placeholder="Enter your place price/per night" required>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Enter location</label>
                <input name="listing[location]" class="form-control" type="text" placeholder="Enter your place location" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Enter country</label>
            <input name="listing[country]" class="form-control" type="text" placeholder="Enter your place country location" required>
        </div>
        <button class="btn btn-primary">Submit</button>
        </div>
        </div>
        <br><br>
        

    </form>
    
