.body {
    font-family: "Plus Jakarta Sans", sans-serif !important;;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    min-height: 80vh; /* Ensures enough space for footer */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* Navbar Style */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem; /* Adds padding for better spacing */
    height: 5rem;
    background-color: azure;
}

.fa-mountain-sun {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}


/* Footer Style */
.f-info-links, 
.f-info-socials,  /* Fixed typo */
.f-info-brand {
    width: 100%;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin: 0 1rem; /* Adds space between icons */
    cursor: pointer; /* Makes them clickable */
    transition: 0.3s ease-in-out;
}

.f-info-socials i:hover {
    color: orange; /* Highlight effect */
    transform: scale(1.2); /* Slight zoom on hover */
}

.f-info-brand:hover {
    color: orange; /* Highlight effect */
    transform: scale(1.2); /* Slight zoom on hover */
    transition: 0.3s ease-in-out;
}


.f-info-links a {
    text-decoration: none;
    color: #222222;
    /* margin-right: 0.5rem; */
}

.f-info-links a:hover {
    text-decoration: underline;
    color: orange;
}

.f-info {
    display: flex;
    height: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background-color: azure;
}


/* Card Style */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 1rem;
}

/* .car-text p {
  font-family: 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

.listing-link {
    text-decoration: none;
}

/* Card Effects */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.4;
    background-color: white;
}


/* Show Image */
.show-img {
    height: 30vh;
}